body {
    background-color: #f3f5fc;
    font-family: 'Inter', sans-serif;   
}

.caja-logo {
    width: 940px;
    margin: 0 auto;
}

.logo {
    margin: 16px 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

.caja1 {

    float: left;
    width: 70%;
    height: 472px;
    margin: 0 auto;
}

.entrada {
    background-color: #f3f5fc;
    border-style: none;

    display: block;
    
    width: 70%;
    height: 68%;
    left: 240px;
    top: 168px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.caja-mensaje {
    margin-top: 16px;
}

.signo-exclamacion {
    width: 16px;
    height: 16px;
}

.mensaje {
    display: inline;
    position: relative;
    bottom: 3px;
    margin-left: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;
    opacity: 0.8;
}

.botonera {
    margin-top: 16px;
}

#boton-encriptar {
    background: #0A3871;
    border-radius: 24px;

    padding: 24px;
    width: 35%;
    height: 67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

#boton-desencriptar {
    box-sizing: border-box;

    padding: 24px;

    width: 35%;
    height: 67px;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;
}


.caja2 {
    float: right;

    width: 30%;
    height: 472px;
 
    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.salida {
    display: block;
    width: 70%;
    height: 75%;
    padding: 0.5em;
    margin: 0 auto;

    border-style: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    
    color: #495057;
}

#boton-copiar {
    display: block;

    box-sizing: border-box;

    padding: 24px;
    width: 80%;
    height: 67px;

    margin: 0 auto 16px auto;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #0A3871;
}