:root {
    --black: #010101;
    --dark-purple: #210B2C;
    --eminence: #55286F;
    --gray-400: #495057;
    --thistle: #CFB3CD;
    --white: #FEFEFE;

    --font-family-inter: 'Inter', sans-serif;

    background-color: var(--dark-purple);
    font-family: var(--font-family-inter);
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header   output"
                         "input output"
                         "controls output"
                         "footer   footer";

    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr 3fr .5fr .75fr;
    height: 100vh;
    width: 100vw;
    padding: 2rem 2rem 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: transparent;
    grid-area: header;
}

.header__logo {
    width: 90px;
}

.input {
    background-color: transparent;
    grid-area: input;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.input__container {
    height: 100%;
    width: 75%;
}

.input__msg {
    height: 90%;
    width: 100%;

    resize: none;
    border: none;
    outline: none;

    font-size: 2rem;
    color: var(--white);
    background-color: transparent;
}

.input__info {
    height: 10%;
    color: var(--white);
    font-size: 0.75rem;
}

.controls {
    background-color: transparent;
    display: flex;
    grid-area: controls;
    justify-content: space-evenly;
}

.controls__encrypt, .controls__decrypt {
    font-size: 1rem;
    height: 3rem;
    width: 35%;
}

.output {
    background-color: var(--white);
    grid-area: output;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    padding: 1rem;
}

.output__msg {
    background-color: transparent;
    border: none;
    color: var(--gray-400);
    font-size: 1.5rem;
    height: 85%;
    outline: none;
    resize: none;
    width: 100%;
}

.output__copy {
    font-size: 1rem;
    height: 3rem;
    width: 60%;
}

.footer {
    align-items: center;
    background-color: transparent;
    color: var(--white);
    display: flex;
    font-size: 1rem;
    grid-area: footer;
    justify-content: center;
}

.footer__link {
    color: var(--white);
    font-size: 2rem;
}

.white-background {
    background-color: var(--white);
}

.img-background {
    background-image: url(../img/encryption-keys-lock-digital-concept.jpg);
}

.show {
    display: block;
}

.hide {
    display: none;
}